<footer id="footer">
    <div class="container">
      <h3>Go Green</h3>
      <p>A small camp in the Bundelkhand region where nature remains. </p>
      <div class="social-links">
		<a href="https://www.facebook.com/ChandrabhanKaDera/" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
		<a href="https://www.instagram.com/chandrabhankadera/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
		<a href="https://www.youtube.com/chandrabhankadera/" target="_blank" class="youtube"><i class="bi bi-youtube"></i></a>
      </div>
      <div class="copyright">
        &copy; 2012-{{ 'now' | date: "%Y" }} <strong><span> {{ site.title }}</span></strong> All Rights Reserved
      </div>
      <div class="credits">
        Design Sponsored by <a href="https://www.srapsware.com/" target="_blank">Srapsware Technologies Pvt Ltd</a>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>