<section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i><a href="mailto:contact@chandrabhankadera.in">contact@chandrabhankadera.in</a>
        <i class="bi bi-phone-fill phone-icon"></i> +91-75032-50639

      </div>
      <div class="social-links d-none d-md-block">

        <a href="https://www.facebook.com/ChandrabhanKaDera/" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/chandrabhankadera/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
		<a href="https://www.youtube.com/chandrabhankadera/" target="_blank"class="youtube" ><i class="bi bi-youtube"></i></a>
      </div>
    </div>
  </section>

  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <a href="{{ site.url }}" class="logo me-auto"><img src="/assets/img/chandrabhan-ka-dera-logo.png?nf_resize=fit&w=65" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link {% if page.currentpage == 'home' %}active{% endif %}" href="/">Home</a></li>
		  <li class="dropdown {% if page.currentpage == 'about' or page.currentpage == 'instagram' or page.currentpage == 'team' %}active{% endif %}"><a href="/about/"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/about/">About</a></li>
              <li><a href="/instagram/">Instagram</a></li>
              <li><a href="/team/">Team</a></li>
            </ul>
          </li>
		  <li class="dropdown {% if page.currentpage == 'nearby' %}active{% endif %}"><a href="#"><span>Nearby</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="d-md-block" href="/nearby/ancient-places/"><i class="fa-duotone fa-gopuram"></i> Ancient places</a></li>
              <li><a class="d-md-block" href="/nearby/spiritual-place/"><i class="fa-duotone fa-om"></i> Spiritual Place</a></li>
              <li><a class="d-md-block" href="/nearby/tiger-safari/"><i class="fa-duotone fa-paw"></i> Tiger Safari</a></li>
              <li><a class="d-md-block" href="/nearby/hills-and-mountains/"><i class="fa-duotone fa-mountains"></i> Hills and Mountains</a></li>
              <li><a class="d-md-block" href="/nearby/waterfalls-and-rivers/"><i class="fa-duotone fa-person-hiking"></i> Waterfalls and Rivers</a></li>
              <li><a class="d-md-block" href="/nearby/"><i class="fa-duotone fa-border-all"></i> View All</a></li>
            </ul>
          </li>
          <li class="dropdown {% if page.currentpage == 'service'%}active{% endif %}"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/services/homestay-and-camping/">Homestay and Camping</a></li>
              <li><a href="/services/agriculture/">Agriculture</a></li>
              <li class="dropdown"><a href="#"><span>Pets</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Cow</a></li>
                  <li><a href="#">Dog</a></li>
                  <li><a href="#">Bunny</a></li>
                </ul>
              </li>
              <li><a href="/services/social-work/">Social work</a></li>
              <li><a href="/services/">All Services</a></li>
            </ul>
          </li>
           <li class="dropdown {% if page.currentpage == 'contact'%}active{% endif %}"><a href="#"><span>Help</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/contact-us/">Contact Us</a></li>
              <li><a href="/blog/">Blog / News</a></li>
              <li><a href="/social/">Social Links</a></li>
            </ul>
          </li>
          <li><a class="getstarted {% if page.currentpage == 'staywithus' %}active{% endif %}" href="/stay-with-us/">Stay with us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>